.write {
    display: flex;
    padding: 100px;
    width: 95vw;
    height:100vh;
    /* background-color: green; */
    position: relative;
}
.writebox {
    width: 100vw;
    height:700px;
    /* background-color: aqua; */
    /* border: solid; */
    /* border-color: black; */
    margin-bottom: 20px;
    position: relative;
}
.titltle{
    width:90%;
    height:60px;
    align-self: top;
    border: solid;
    border-color:black;
    height:60px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 40px;
}

.coontents{
    width:90%;
    height:540px;
    border: solid;
    border-color:black;
    margin-top: 20px;
    margin-right:40px;
    margin-left: 10px;
    padding-left: 40px;
}

.save{
    height: 60px;
    width: 90px;
    align-self: center;
    border: solid;
    border-color: black;
}

