.dream-container {
    position: relative;
    display: inline-block;
}

.dreampic {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dreamtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 240px;
    font-weight: 900;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
}

.smt {
    font-style: italic;
    font-size: 50px;
}
