.sectionborder {
    border-bottom: 20px solid;
    border-left: 20px solid;
    border-right: 20px solid;
    border-color:#06c77a;
    padding-bottom: 90px;
  }
  .blank1-box {
    height:80px;
  }
  .progress-content{
    padding-left:20%;
    padding-right:15%;
    text-align: center; 
    display:flex;
    flex-direction: column;
  
  }
  .skill-container{
    display:flex;
  }
  
  .flag{
    height:50px;
    width:100px;
    padding-right:20px;
  }
  .barname{
    display: flex;
    width:275px;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
  }
  
  .progress-bar {
    border-radius:0.5rem;
    width:75%;
    height: 45px;
    background-color:#dedede;
    font-weight:600;
    font-size:.8rem;
    margin:40px;
    margin-left:100px;
  }
  
  .progress1{
    width:100%;
    height:45px;
    border-radius:0.5rem;
    padding:0;
    text-align: center;
    background-color:#06c77a;
    color:#111;
    animation: progressAnimationStrike 7s;
  }
  @keyframes progressAnimationStrike {
    from { width: 0 }
    to   { width: 100% }
  }
  
  .progress2{
    width:85%;
    height:45px;
    border-radius:0.5rem;
    padding:0;
    text-align: center;
    background-color:#06c77a;
    color:#111;
    animation: progressAnimationStrike2 7s;
  }
  @keyframes progressAnimationStrike2 {
    from { width: 0 }
    to   { width: 85% }
  }
  
  .progress3{
    width:55%;
    height:45px;
    border-radius:0.5rem;
    padding:0;
    text-align: center;
    background-color:#06c77a;
    color:#111;
    animation: progressAnimationStrike3 7s;
  }
  @keyframes progressAnimationStrike3 {
    from { width: 0 }
    to   { width: 55% }
  }
  
  .blankkk-box {
    height:300px;
  }
  
  .mydream {
    font-size: 100px;
    font-weight: 900;
    text-align: center;
  }
  
  .Goal {
    display: flex;
    width:100%;
    height:700px;
    align-items: center;
  }
  
  .Goal1 {
    display: flex;
    width:50%;
    flex-direction: column;
    font-size: 30px;
    font-weight: 900;
    margin-left:90px;
    animation:zoom-in 3s infinite;
    animation-delay:4s;
  }
  @keyframes zoom-in {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .sgoal {
    border:solid;
    border-radius:0.5rem;
    border-style:black;
    background-color:#06c77a;
    color: white;
    margin-left:50px;
    margin:30px; 
    padding:20px;
    width:fit-content;
    margin-left: 25%;
    opacity: 0;
    animation: slide-in1 3s ease-in forwards;
    animation-delay:1.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes slide-in1 {
      from {
      transform: translate(-20%);
      opacity: 0;
      }
      to {
      transform: translate(0%);
      opacity: 1;
      }
      
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.2, 1.2);
      }
      100% {
        transform: scale(1, 1);
      }
  }
  .sgoal2 {
    border:solid;
    border-radius:0.5rem;
    padding-left:50px;
    padding-bottom:40px;
    background-color:#06c77a;
    color: white;
    margin:30px;   
    width:fit-content;
    margin-left: 23%;
    padding:20px;
    opacity: 0;
    animation: slide-in2 3s ease-in forwards;
    animation-delay:1.9s;
    animation-iteration-count: 1;
  }
  
  @keyframes slide-in2 {
      from {
      transform: translate(-20%);
      opacity: 0;
      }
      to {
      transform: translate(0%);
      opacity: 1;
      }
      
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.2, 1.2);
      }
      100% {
        transform: scale(1, 1);
      }
  }
  
  .sgoal3 {
    border:solid;
    border-radius:0.5rem;
    padding-left:50px;
    padding-bottom:10px;
    background-color:#06c77a;
    color: white;
    width:fit-content;
    margin:30px; 
    padding:20px;
    margin-left: 31%;
    opacity: 0;
    animation: slide-in3 3s ease-in forwards;
    animation-delay:2.3s;
  }
  
  @keyframes slide-in3 {
      from {
      transform: translate(-20%);
      opacity: 0;
      }
      to {
      transform: translate(0%);
      opacity: 1;
      }
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.2, 1.2);
      }
      100% {
        transform: scale(1, 1);
      }
  }
  
  .Goal2 {
    display: flex;
    font-size: 80px;
    color : #06c77a;
    font-weight: 999;
    line-height: 40px;
    width:50%;
    justify-content: left;
    align-items: center;
  }
  
  .goal23 {
    margin-left:200px;
    padding:100px;
    animation: zoom-in-zoom-out 3s infinite;
    animation-delay: 1.2s;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.6, 1.6);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  
  